* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy Light";
}
html, body {
  height: 100%;
  width: 100%;
}

#page1{
 height: 100vh;
 width: 100%;
 background-color: #dadada;   
}

#cursor{
    height: 7.5vw;
    width: 7.5vw;
    background-color: #FF5F38;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 9;
    transform: translate(-50%, -50%);
}

#cursor h2{
    font-size: 1.3vw;
}



#page1 video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
}

#page1-cnt{
    height: 100%;
    width: 100%;
    position: relative;
    color: white;
    z-index: 10;
}

nav{
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 3vw;
}

nav h3{
    font-size: 1.3vw;
}

#page1-cnt h1{
    position: absolute;
    top: 41%;
    left: 4%;
    font-size: 25vw;
    font-weight: 300;
    
}

#page1-cnt h1 span{
    font-family: "Rejouice Headline" !important ; 
    
}

#page2{
    height: 100vh;
    width: 100%;
    background-color: #FAF8F3;
}

#elem1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2vw;
    padding-top: 6vw;
    padding-bottom: 1vw;
    font-weight: 100;
    font-size: 1.2vw;
    border-bottom: 1px solid rgba(0, 0, 0, 0.683);
}

#elem2{
    margin-top: 1.5vw;
}

#elem2 h1{
    font-size: 4vw;
    font-weight: 700;
    padding-left: 3vw;
    padding-right: 3vw;
}

#page3{
    min-height: 100vh;
    width: 100%;
    background-color: #FAF8F3;
    position: relative;
    margin-bottom: 2vw;
}

#page3-cnt{
    /* background-color: red; */
    text-align: center;
    padding-top: 10vw;
}

#page3-cnt h4{
    padding-bottom: 1.5vw;

}

#page3-cnt h4 span{
    background-color: black;
    color: rgb(237, 232, 232);
    font-size: 0.7vw;
    padding: 0.3vw;
    border-radius: 0.5vw;
}

#page3-cnt h2{
    font-size: 4vw;
}

#page3-cnt h2::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #000000; 
    transition: width 0.5s ease-in-out;
}

#page3-cnt h2:hover::before{
    width: 100%;
    cursor: pointer;
    transition: width 3s linear;
    animation: loading 3s infinite alternate;
}

#page3-elem{
    height: 75vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 3vw;
    margin-top: 5vw;
}

#page3-elem .box{
    height: 90%;
    width: 33%;
    position: relative;
}

#page3-elem .box video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

#page3-elem .box img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all ease 1s;
}

#page3-elem .box:hover img{
    opacity: 0;
}

#page3N5{
    min-height: 60vh;
    width: 100%;
    background-color: #FAF8F3 ;
}

#pageN-elem{
   margin: 0vw 2.8vw;
   border-bottom: 1px solid black;
}

#pageN-elem h2{
   font-size: 2vw;
   margin-bottom: 1.2vw;
   line-height: 0.5vw;
 }

 
#pageN-elem2{
    font-size: 2vw;
    padding: 0vw 6vw;
    margin-top: -1vw;
  }

  #pageN-elem2 h1{
    margin-top: 3vw;
  }

#page4{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FAF8F3;
}

#page5{
    height: 100vh;
    width: 100%;
    position: relative;
    padding: 10vw 0vw;
    background-color: #FAF8F3;
}

#page5 h1{
    font-size: 8vw;
    border-bottom: 1px solid black;
    /* background-color: red; */
    width: 96%;
    margin-left: 2%;
}

#swiper{
   height: 50vh;
   width: 100%;
}

 .swiper {
      width: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #FAF8F3;
      display: flex;
      justify-content: space-evenly;
      align-items: flex-end;
      
    }
    
    .swiper-slide img {
        display: block;
        width: 19%;
        object-fit: cover;
        padding-bottom: 6vw;
        margin-left: 0.4vw;
        margin-right: 0.4vw;
   }

#loader{
    height: 100vh;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5vw;
    position: fixed;
    top: 0;
    z-index: 99;
}   

#page6{
    height: 50vh;
    width: 100%;
    background-color: #FAF8F3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#page6-elem1{
    margin-bottom: 1.2vw;
}

#page6-elem2 h1{
    font-size: 4vw;
}

#page6-elem2 h1::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #000000; 
    transition: width 0.5s ease-in-out;
}

#page6-elem2 h1:hover::before{
    width: 100%;
    cursor: pointer;
    transition: width 3s linear;
    animation: loading 3s infinite alternate;

}

@keyframes loading {
    0%, 100% {
      width: 0;
    }
    50% {
      width: 100%;
    }
  }

#page7{
    min-height: 100vh;
    width: 100%;
    background-color: black;
    color: #dadada;
}

#page7-elem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vw 3.5vw;
    margin-bottom: 11vw;
}

#elem-right1{
    margin-left: 37vw;
    font-size: 1vw;
}

#elem-right2{
    font-size: 1vw;
    padding-bottom: 2vw;
}

#btn{
   font-size: 1.1vw;
   padding: 1vw 1.5vw;
   border-radius: 0.7vw;
   cursor: pointer;
   border-color: #dadada;
   font-weight: 700;
   color: #dadada;
   background-color: black;
}

#page7-elem2{
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 3.5vw;
}

#page7-elem2-right{
   display: flex;
   gap: 5.5vw;
}

#page7-elem3{
    display: flex;
    align-items: center;
    /* background-color: blue; */
    justify-content: center;
}
#page7-elem3 h1{
    font-family: "Rejouice Headline" !important ; 
    font-size: 26vw;
    font-weight: 500;
}

